/* reset browser styles */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.2;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}


/* end reset browser styles */


@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/GothaProReg.otf") format("opentype");
  src: url('../fonts/GothaProReg.eot');
src: url('../fonts/GothaProReg.eot') format('embedded-opentype'),
url('../fonts/GothaProReg.woff') format('woff'),
url('../fonts/GothaProReg.ttf') format('truetype'),
url('../fonts/GothaProReg.svg') format('svg');
}

@font-face {
  font-family: 'GothamProMedium';
  src: url("../fonts/GothaProMed.otf") format("opentype");
}
@font-face {
  font-family: 'GothamProBol';
  src: url("../fonts/GothaProBol.otf") format("opentype");
}
@font-face {
font-family: 'Segoe Script';
src: url('../fonts/segoescb.eot');
src: url('../fonts/segoescb.eot') format('embedded-opentype'),
url('../fonts/segoescb.woff') format('woff'),
url('../fonts/segoesc.ttf') format('truetype'),
url('../fonts/segoescb.svg') format('svg');
font-weight: normal;
font-style: normal;
}



.wrapper {
    margin: 0 auto;
    width: 1110px;
}

.main {
    width: 100%;
    background-image: url(../img/mainslider.png);
    background-repeat: no-repeat;
    -moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    height: 716px;
}
.contacts {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.header_cont {
    display: flex;
    background-color: white;
    opacity: 0.9;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    height: 43px;
    width: 100%;
    
}

.header:after {
    content: '';
    position: absolute;
    top: 41px;
    width: 100%;
    height: 2px;
    background-color: #ccc;
}

.contacts {
    padding-top: 13px;
}

.currency  {
    padding-top: 13px;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.login {
    padding-top: 13px;
    margin-top: -6px;
}
.login span a {
    font-family: 'GothamPro';
    font-size: 11px;
    text-decoration: none;
    color: #000
}
.login span:nth-child(3n):before {
 content: '';
 display: inline-block;
 height: 9px;
 margin-left: 15px;
 margin-right: 15px;
 margin-bottom: 0px;
 width: 1px;
 background-color: #000;
}

.login  i:before {
    font-size: 16px;
    margin-right: 8px;
}

.currency span,
.currency ul li{
    text-transform: uppercase;
    font-family: 'GothamPro';
    font-size: 11px;
    list-style-type: none;
}
.currency ul li {
    height: 18px:
}

.currency li:nth-child(2n) {
    display: none;
}

.currency-show {
    display: block !important;
}
.currency ul {
    margin-right: 8px;
}
.currency i {
    margin-top: -4px;
    cursor: pointer;
}


.contacts span {
    font-family: 'GothamPro';
    font-size: 11px;
}

.contacts span i:before {
    margin-right: 8px;
}

.mail {
    margin-left: 20px;
}


.menu_cont { 
    z-index: 999;
    position: sticky;
    top: 0;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    height: 50px;
    background-color: #fff;
    opacity: 0.9;
}

.nav_menu {

    padding-top: 20px;
}

.nav_menu ul,
.nav_menu {
    padding-bottom: 7px;
    list-style: none;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.nav_menu ul li { 
    cursor: pointer;
    margin-right: 13px;
    font-family: 'GothamProMedium';
    font-size: 11px;
    text-transform: uppercase;
}

.nav_menu ul li:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    background: #000;
    transition: all .3s;
}
.nav_menu ul li:hover:after {
  width: 100%;
}



.logo {
    padding-top: 6px;
    margin-left: 45px;
}

.search_cart {
    margin-right: 58px;
    padding-top: 11px;
}
.burger {
    margin-left: 40px;
    cursor: pointer;
}
.nav_menu .burger .line {
    margin-bottom: 3px;
    width: 20px;
    height: 2px;
    background: #000;
}
.search_cart img {
    cursor: pointer;
    margin-left: 15px;
}

.main_text {
    padding-top: 220px;

    height: 173px;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.main_text span {
    color: #fff;
}

span.h_text {

    text-transform: uppercase;
    font-family: 'GothamProBol';
    font-size: 60px;
}
span.p_text {
  font-family: 'Segoe Script';
  font-size: 28px;
  text-align: center;
  width: 45%;
}

.slider,
.slider_child {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 740px;
}

.block_image img, 
.block_image_2n img {
  width: 740px;
}

.block_info,
.block_info_2n {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.block_info span:nth-child(1),  
.block_info_2n span:nth-child(1)  {

    width: 232px;
    height: 84px;
    color: #252525;
    font-family: "GothamPro";
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;

    letter-spacing: 2.4px;
    line-height: 50px;

    font-size: 38px;
    letter-spacing: 1.52px;
    line-height: 63px;
}
.block_info span:nth-child(2n), 
.block_info_2n span:nth-child(2n) 
{
   /* Style for "Мы разраба" */
width: 355px;
height: 90px;
color: #393939;
font-family: "GothamPro";
font-size: 14px;
font-weight: 300;
line-height: 26px;
/* Text style for "Мы разраба" */
letter-spacing: 0.56px;
}

.block_info span:nth-child(1):after, 
.block_info_2n span:nth-child(1):after 
{
    content: '';
    display: block;
    width: 109px;
    height: 2px;
    background-color: #252525;
        margin-top: 9px;
}

.block_info button, 
.block_info_2n button 
{
   
    outline: none;
    cursor: pointer;
    width: 240px;
    height: 56px;
    border-radius: 28px;
    background-color: #1b1b1b;
    border: 0;
    color: #fffefe;
    font-family: "GothamPro";
    font-size: 11px;
    font-weight: 500;
    line-height: 55px;
    text-transform: uppercase;

    letter-spacing: 1.1px;
}

.scroll {
    margin-top: 70px;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.scroll span {
    color: #fff;
    font-size: 14px;
    font-family: 'GothamProBol';
    margin-top: 10px;
    font-weight: 500;
    line-height: 20px;
}

.women_clothes {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}


body > div.women_clothes > div > button.slick-next.slick-arrow,
body > div.women_clothes > div > button.slick-prev.slick-arrow,
body > div.slider-for > div.slider_child.slick-initialized.slick-slider > button.slick-prev.slick-arrow,
body > div.slider-for > div.slider_child.slick-initialized.slick-slider > button.slick-next.slick-arrow {
    display: block;
    width: 52px;
    height: 52px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
}

.slick-next:before,
.slick-prev:before {
    background-repeat: no-repeat;
    content: '' !important;
    width: 49px;
    height: 13px;
    display: block;
    background-position: center;
}
body > div:nth-child(4) > div > div.slider.slick-initialized.slick-slider > button.slick-prev.slick-arrow{
    position: absolute;
    left: 813px;
    top: 474px; border: 1px solid #ccc;
    border-radius: 50%;
    width: 53px;
    height: 53px;
}

body > div:nth-child(4) > div > div.slider.slick-initialized.slick-slider > button.slick-next.slick-arrow{
    position: absolute;
    left: 880px;
    top: 475px;
      border: 1px solid #ccc;
    border-radius: 50%;
    width: 53px;
    height: 53px;
}
.slick-next:before {    
    background-image: url(../img/next.png);
}

.slick-prev:before {
    background-image: url(../img/prev.png);
}

.count {

    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 45px;
    height: 10px;
    color: #252525;
    font-family: "GothamPro";
    font-size: 14px;
    font-weight: 500;
    line-height: 35px;
    margin-left: 175px;
    margin-bottom: 11px;

}

.count p {
    margin-right: 5px;
}




.slider-nav  {
   width: 1170px;
    height: 100px;
}



.slider_item {
    cursor: pointer;
    width: 167px !important;
    height: 267px !important;
    display: flex !important;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}


.slider_item:hover {
    background: #000;
}

.slider_2n {
        margin-bottom: 167px;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;

}


.slider_item span {
    margin-top: 20px;
    color: #2b2a29;
    font-family: "GothamPro";
    font-size: 13px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.52px;
    display: block;
}

.slick-slide {
    outline: none;
}

.slider-for_item {
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.block_info_2n {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


.block_info_2n span:nth-child(1):after {
    margin-top: 35px;
}

body > div:nth-child(6) > div > div > div > div.slider-for_item.slick-slide.slick-current.slick-active > div.slider_child.slick-initialized.slick-slider > button.slick-prev.slick-arrow{
    position: absolute;
    top: 438px;
    left: -425px;
        border: 1px solid #ccc;
    border-radius: 50%;
    width: 53px;
    height: 53px;
}

body > div:nth-child(6) > div > div > div > div.slider-for_item.slick-slide.slick-current.slick-active > div.slider_child.slick-initialized.slick-slider > button.slick-next.slick-arrow{
    position: absolute;
    left: -350px;
    top: 438px;
    position: absolute;
        border: 1px solid #ccc;
    border-radius: 50%;
    width: 53px;
    height: 53px;
}

.bady {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    padding-top: 120px;
    padding-bottom: 228px;
}

.bady_img img {
    /* Style for "dieta-16_1" */
    width: 685px;
    height: 554px;
}

.bady_text {
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
            justify-content: space-around;
}

.bady_text span:nth-child(1) {
    width: 132px;
    height: 34px;
    color: #252525;
    font-family: "GothamPro";
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    line-height: 50px;
    font-size: 38px;
    letter-spacing: 1.52px;
    line-height: 63px;
}

.bady_text span:nth-child(1):after {
    content: '';
    /* Style for "Rectangle" */
    display: block;
    width: 109px;
    height: 2px;
    background-color: #252525;
    margin-top: 66px;
}

.bady_text span:nth-child(2n) {
    /* Style for "Мы разраба" */
    margin-top: -90px;
    width: 355px;
    height: 90px;
    color: #393939;
    font-family: "GothamPro";
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    /* Text style for "Мы разраба" */
    letter-spacing: 0.56px;
}

.advantages,
.video_block  {
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
            align-items: center;
        padding-bottom: 150px;
}

.advantages_items {
    margin-top: 165px;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    -webkit-align-items: center;
            align-items: center;
}


.advantages span,
.video_block span,
.news span:nth-child(1),
.reviews span:nth-child(1) {
    /* Style for "ПОЧЕМУ ВЫБ" */
width: 630px;
height: 28px;
color: #252525;
font-family: "GothamPro";
font-size: 40px;
font-weight: 700;
line-height: 50px;
text-transform: uppercase;
/* Text style for "ПОЧЕМУ ВЫБ" */
letter-spacing: 2.4px;
}

.advantages > span:after,
.video_block span:after,
.news span:nth-child(1):after,
.reviews span:nth-child(1):after,  {

    margin: 53px auto;
    content: '';
    display: block;
    /* Style for "Rectangle" */
    width: 329px;
    height: 2px;
    background-color: #252525;
}

.advan_img {
    /* Style for "Ellipse 53" */
width: 94px;
height: 94px;
border: 1px solid #000000;
  border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
}

.advan_img img {
        margin: 34px 26px;
}

.advantages_items  .advan_item:nth-child(3n) img {
    margin:34px 30px;
}

.advantages_items  .advan_item:nth-child(4n) img {
    margin:29px 29px;
}
.advan_item {
    width: 300px;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
}
.advan_item span {
    /* Style for "Бесплатная" */
height: 30px;
color: #131313;
font-family: "GothamPro";
font-size: 11px;
font-weight: 500;
line-height: 20px;
text-align: center;
width: 200px;
margin-top: 35px;
}

.bg_vib {
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 450px;
    background-image: url(../img/4-layers.jpg);
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
}

iframe {
    margin-top: 130px;
}

.video_block span {
    width: 875px;
    margin-top: 120px;
}

.referral_program {
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    padding-bottom: 170px;
}

.ref_txt {
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
        -webkit-justify-content: space-around;
                justify-content: space-around;
}
.ref_txt span{
    /* Style for "Бонусная п" */
    margin: -45px 0;
    width: 491px;
    color: #393838;
    font-family: "GothamPro";
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}
.ref_txt span:nth-child(1) {
    /* Style for "Реферальна" */
    width: 338px;
    height: 79px;
    color: #252525;
    font-family: "GothamPro";
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "Реферальна" */
    letter-spacing: 2.4px;
    line-height: 50px;
    /* Text style for "," */
    font-size: 38px;
    letter-spacing: 2.28px;
    line-height: 63px;
    margin-bottom: 20px;
}

.ref_txt span:nth-child(1):after {
    content: '';
    display: block;
    width: 109px;
    height: 2px;
    background-color: #252525;
    margin-top: 9px;
}



.ref_txt button,
.news button {
    /* Style for "Rectangle" */
    outline: none;
    cursor: pointer;
    width: 200px;
    height: 56px;
    border:0;
    border-radius: 28px;
    background-color: #252525;
    /* Style for "Подробнее" */
    color: #fffefe;
    font-family: "GothamPro";
    font-size: 11px;
    font-weight: 500;
    line-height: 55px;
    text-transform: uppercase;
    /* Text style for "Подробнее" */
    letter-spacing: 1.1px;
}

.ref_img img {
    /* Style for "Layer 23" */
    width: 570px;
    height: 618px;
}
 

 .news {
     background-image: url(../img/2-layers.jpg);
     background-size: cover;
     background-repeat: no-repeat; 
     display: flex;
     -webkit-flex-direction: column;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-justify-content: space-between;
             justify-content: space-between;
     -webkit-align-items: center;
             align-items: center;
     padding-bottom: 114px;
 }

 .news_block {
    margin-top: 120px;
     display: flex;
     -webkit-flex-direction: row;
         -ms-flex-direction: row;
             flex-direction: row;
    -webkit-justify-content: space-between;
            justify-content: space-between;

 }

 .news span:nth-child(1),
 .reviews span:nth-child(1) {
     margin-top: 120px;
     width: 243px;
 }
 .news span:nth-child(1):after {
     width: 100px;
 }
 .news_item {
    cursor: pointer;
    margin: 0 15px;
    width: 370px;
height: 410px;
     background: #FFF;
     display: flex;
     -webkit-flex-direction: column;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-justify-content: space-between;
             justify-content: space-between;
     transition: .2s linear;

 }

.news_item img {
    width: 370px;
height: 234px;
}
.news_item span:nth-child(2n) {
    color: #6f6f6f;
font-family: "GothamPro";
font-size: 11px;
font-weight: 400;
letter-spacing: 0.44px;
line-height: 26px;
text-transform: uppercase;
}


.news_item span:nth-child(3n) {
    font-family: "GothamPro";
line-height: 26px;
width: 281px;
height: 90px;
color: #252525;
font-size: 14px;
font-weight: 500;
line-height: 22px;
}

.news_item span {
    margin-left: 40px;
}

.news button {
    margin-top: 60px;
}

.news_item:hover {
      -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.reviews {
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
    padding-bottom: 140px;
}

.reviews span:nth-child(1) {
    width: 191px;
}

.reviews_item {
    display: flex !important;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
}

.reviews_item span:nth-child(1) {
    width: 770px;
color: #393939;
font-family: "GothamPro";
font-size: 13px;
font-weight: 300;
    line-height: 20px; 
    text-transform: none;
    letter-spacing: 1px; 
    text-align: center;
        margin-top: 90px;
    
}

.reviews_item span:nth-child(2)  {
    color: #2b2a29;
font-family: "GothamPro";
font-size: 14px;
font-weight: 700;
letter-spacing: 0.56px;
line-height: 26px;
text-transform: uppercase;
    margin-top: 80px;
}

.reviews_slider {
    width: 900px;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
.slick-dots li button:before {
  font-size: 45px !important;
}

.footer {
    padding-top: 65px;
        background-color: #f1f2f3;
}
.info_block {

    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
            justify-content: space-around;
}

.brend_block,
.about_company,
.subscribe {
  
    padding-bottom: 100px;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

.contacts_footer  {
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

 .brend_block {
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

.brend_block .logo {
    padding-top: 0;
}

.logo span {
    display: block;
       width: 255px;
margin-top: 20px;
height: 29px;
color: #252525;
font-family: "GothamPro";
font-size: 12px;
font-weight: 300;
line-height: 18px;
/* Text style for "Бренд с вы" */
letter-spacing: 0.48px;

}

.about_company span,
.subscribe span,
.contacts_footer span {
    width: 202px;
color: #606060;
font-family: "GothamPro";
font-size: 11px;
font-weight: 300;
line-height: 18px;
color: #2b2a29;
font-size: 11px;
font-weight: 900;
letter-spacing: 1.1px;
line-height: 19px;
text-transform: uppercase;
}





.about_company ul {
    list-style: none;
    margin-left: -22px;
}

.about_company a {
    font-family: "GothamPro";
letter-spacing: 0.72px;
line-height: 33px;
color: #2b2a29;
font-size: 11px;
font-weight: 500;
letter-spacing: 1.1px;


}

.about_company a:hover {
    color: #000 ;
}


.about_company span:nth-child(1) {
    
    margin-bottom: 45px;

}


.etc {
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
            justify-content: space-between;
        padding-bottom: 20px;
}
.etc span {
    width: 214px;
    height: 10px;
    color: #606060;
    font-family: "GothamPro";
    font-size: 11px;
    font-weight: 300;
    line-height: 18px;
    margin-left: 100px;
    padding-bottom: 25px;
}



.input_mail input:nth-child(1) {
outline: none;
padding-left: 30px;
width: 200px;
height: 43px;
border-radius: 22px;
border: 1px solid #000000;
background-color: #f1f2f3;
opacity: 0.63;
}

.input_mail button[type="submit"] {
    cursor: pointer;
    width: 20px;
    position: relative;
    margin: -39px;
    height: 12px;
    border: none; 
    outline: none;
    background: url(../img/next.png) no-repeat 50% 50%; 
   }

input:after {
    content: '';
    display: block;
    width: 109px;
    height: 2px;
    background-color: #252525;
}


.cont_foot_cont {
    display: flex;
        margin-top: 40px;
        
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
.cont_foot_cont span {
    color: #2b2a29;
font-family: "GothamPro";
font-size: 11px;
font-weight: 500;
letter-spacing: 1.1px;
text-transform: uppercase;
/* Text style for "Украина, К" */
letter-spacing: 0.72px;
line-height: 33px;
}

.fa-facebook,
.fa-instagram {
    color: #000;
    font-size: 15px !important;
   
}
.social_link  span {
    width: 30px;
}
.social_link {
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}


.payment_system span {
    font-size: 20px;
    width: 45px;
    margin-left: 30px;
}
.payment_system {
    margin-right: 100px;
}

.wrapper {
    width: 1170px;
}





